/*Page General Styling */

/*-------------------Fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* -------------------------Header-------------------------------*/
/*---Main Logo - Hero Logo-------*/
#the-main-logo {
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
}

/*------Navbar--------*/

.navbar, .footer-row {
    background-color: #DFE1E6;
}

.navbar button {
    background-color: #19EB51;
    color: black;
    margin: 5px;
    border: 1px solid black;
    height: 40%;
    float: right;
}

.nav-item {
    text-align: center;
}

.nav-item a i {
display: block;
font-size: xx-large;
}

#search-form-and-button {
    float: right;
}

.nav-item a:hover {
    color:#19EB51;
    border: 3px solid #19EB51;
    border-radius: 25%;
}

.active {
    color: #19EB51;
    border: 3px solid#19EB51;
    border-radius: 25%;
}

/*-------Boxes of information--------*/
.page-key-information-box-row, .selection-icons-row, .row-for-supplement-images, .footer-row{
    margin-top: 40px;
}
.page-key-information-box{
    margin: auto;
    background-color: transparent;
    border: 5px blue solid;
    border-radius: 25%;
    text-align: center;
    padding: 10px;
}

/*--------Icons to select on pages------*/

/*--------footer section styling------*/

div.footer-sections {
    padding left: 10rem:
}
.footer-sections p {
    font-weight: bold;
}
.footer-sections a {
text-decoration: none;
color: black
}

.socials-links ul{
    padding-left: 0;
}
.socials-links li{
    display: inline-block;
    padding-left: 0.5rem;
    font-size: xx-large;
}


/*home-page-icons-----*/
.home-page-icon-images img{
    width: 70%;
    height: 80%;
    border-radius: 25%;
    border: 3px blue solid;
    margin: auto;
    display: block;
}
/*pharmacy-page-icons----*/
.pharmacy-page-icons img{
    width: 70%;
    height: 80%;
    border-radius: 25%;
    border: 3px blue solid;
    padding: 0%;
    margin: auto;
    display: block;
}

/*-----------------------------------Clinic-page-icons-----*/
.consulation-form-section button{
    width: 30%;
    margin: auto;
    display: block;
}
.clinic-page-icons img{
    width: 70%;
    height: 80%;
    border-radius: 25%;
    border: 3px blue solid;
    padding: 0%;
    display: block;
    margin: auto;
}

/*-----------------------------------Wellbeing-page-icons-----*/
/*Wellbeing-page-search bar and button*/
#supplement-search-form input{
    display: block;
    width: 22%;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
}

#supplement-search-form input:focus {
  width: 40%;
}
.supplement-search-form-row{
    margin-top: 20px;
    margin-bottom: 10px;
}

.row-for-supplement-images {
    margin-top: 10px;
}

/*-------Category Images-----*/

.supplement-category-image {
width: 250px;
height: 250px;
margin: auto;
margin-top: 10px;
border: 3px solid blue;
border-radius: 25%;
float: none;
padding: 0;
}

.supplement-category-image:hover {
  border: 3px solid #19EB51;
}

.supplement-category-image img {
  width: 100%;
  height: 85%;
  border-radius: 25%;
  margin: 0;
}

div.description-of-category {
  font-size: 15px;
  text-align: center;
  height: 10%;
  padding: auto;


/*-----------------------------------  Colours------------------------------*/