/*Page General Styling */

/*-------------------Fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* -------------------------Header-------------------------------*/
/*---Main Logo - Hero Logo-------*/
#the-main-logo {
    width: 15%;
    height: 15%;
    margin: auto;
    display: block;
}

/*------Navbar--------*/
#search-form-and-button {
    float: right;
}

/*--------------------------Colours------------------------------*/