/*Page General Styling */

/*-------------------Fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* -------------------------Header-------------------------------*/
/*---Main Logo - Hero Logo-------*/
#the-main-logo {
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
}

/*------Navbar--------*/
#search-form-and-button {
    float: right;
}

.nav-item a:hover {
    color: green;
    border: 3px solid green;
}

.active {
    color: green;
    border: 3px solid green;
}

/*-------Boxes of information--------*/
.page-key-information-box{
    margin: auto;
    background-color: transparent;
    border: 5px blue solid;
    border-radius: 5%;
    text-align: center;
}

/*--------Icons to select on pages------*/

/*--------footer section styling------*/

div.footer-sections {
    padding left: 10rem:
}

.footer-sections a {
text-decoration: none;
}

.socials-links ul{
    padding-left: 0;
}
.socials-links li{
    display: inline-block;
    padding-left: 0.5rem;
    font-size: xx-large;
}


/*home-page-icons-----*/
.home-page-icon-images img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px blue solid;
    padding: 0%;
}
/*pharmacy-page-icons----*/
.pharmacy-page-icons img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px blue solid;
    padding: 0%;
}

/*-----------------------------------Clinic-page-icons-----*/
.clinic-page-row {
    margin: 20px;
}
.consulation-form-section button{
    width: 30%;
    margin: auto;
    display: block;
}
.clinic-page-icons img{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border: 3px blue solid;
    padding: 0%;
    display: block;
    margin: auto;
}

/*-----------------------------------Wellbeing-page-icons-----*/
/*Wellbeing-page-search bar and button*/
#supplement-search-form input{
    display: block;
    width: 35%;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
}

#supplement-search-form input:focus {
  width: 100%;
}

.row-for-supplement-images {
    margin-top: 10px;
}

/*-------Category Images-----*/


.supplement-category-image {
  margin: 0;
  border: 3px solid blue;
  float: none;
  padding: 0;
}

div.supplement-category-image:hover {
  border: 3px solid blue;
}

.supplement-category-image img {
  width: 100%;
  height: 90%;
  margin: 0;
}

div.description-of-category {
  font-size: 15px;
  text-align: center;
  height: 10%;
  padding: auto;


/*-----------------------------------  Colours------------------------------*/